#check {
    position: absolute;
    z-index: -1;
    left: -99999px;
    visibility: hidden;
    opacity: 0; 
}

#check+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
  }

#check+label::before {
content: '';
display: inline-block;
width: 1em;
height: 1em;
flex-shrink: 0;
flex-grow: 0;
border: 1px solid #adb5bd;
border-radius: 0.25em;
margin-right: 0.5em;
background-repeat: no-repeat;
background-position: center center;
background-size: 50% 50%;
}

#check:checked+label::before {
border-color: #0bef2d;
background-color: #0bef13;
background-image: url();
}

.box-audio {
    background-color: azure;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

video {
    height: 100vh;
}