* {
    margin: 0;
    padding: 0;
}

.box-audio {
    background-color: azure;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video-box {
    height: 100vh;
    position: relative;
}

.heading {
    position: absolute;
    color: white;
    top: 45%;
    z-index: 1;
    width: 100%;
    text-align: center;
}